/*.programs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    align-items: center;

}*/
.programs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    
}
.programs img{
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 100%;

}
.program{
    margin: 10px;
    flex-basis: 31;
    position: relative;
    width: 60%;
    height: 60%;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 15, 152, 0.3);
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
    
}
.caption img{
    width: 60px;
    margin-bottom:10px ;
    background-color: inherit;
}
.program:hover .caption{
    opacity: 1;
    padding-top: 0;
 
}
.caption p{
    background-color: inherit;
}
@media (max-width:740px){
    .programs{
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .program {
        width: 80%;
        height: 80%;
        margin: auto;
    }
}